* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fff;
  color: #333333;
}

.form-container {
  padding: 30px 40px;
  background: white;
  max-width: 900px;
  margin: 30px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

#register-title {
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: bold;
  color: #333333;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 150px;
}

.form-label {
  margin-bottom: 5px;
  font-weight: 500;
  color: #333;
  font-size: 16px;
  white-space: nowrap;
  text-align: left;
}

.input-text {
  padding: 10px 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  color: #555;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

.input-text:focus {
  border-color: #FF204E;
  box-shadow: 0 0 0 3px rgba(255, 76, 107, 0.1);
  outline: none;
}

.form-row .input-text {
  flex: 1;
  min-width: 150px;
}

.address-age-gender-row {
  align-items: flex-start;
}

.address-group {
  flex: 2;
}

.address-group textarea.input-text {
  resize: none;
  min-height: 90px;
  height: 90px;
}

.form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.login-text {
  text-decoration: none;
  font-size: 16px;
  color: #FF204E;
  margin-top: 12px;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #00224D;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}


/* Hiển thị dòng báo lỗi màu đỏ */
.error-text {
  color: red;
  font-size: 13px;
  margin-top: 4px;
  margin-left: 4px;
}