
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 10%;
      background: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    header {
      position: relative !important;
      z-index: 10;
    }

    /* Logo */
    .logo {
      display: flex;
      align-items: center;
    }

    /* Logo */
    .logo img {
      height: 70px;
    }

    /* Navigation links */
    .nav-links {
      list-style: none;
      display: flex;
      gap: 70px;
      margin: 0;
      padding: 0;
    }
    
    .nav-links a {
      margin-left: 24px;
      color: #334155;
      text-decoration: none;
      font-weight: 500;
      transition: color 0.3s;
    }

    .nav-links a:hover {
      color: #FF204E;
    }


    /* Nút đăng nhập bên phải */
    .btn-login {
      background-color: #FF204E;
      color: white;
      padding: 10px 20px;
      border: none;           /* Bỏ viền */
      border-radius: 6px;
      font-weight: bold;
      text-decoration: none;
      cursor: pointer;        /* Thêm con trỏ tay khi hover */
    }

    .btn-login:hover {
      background-color: #d91b41;
    }
